



<br><br><br><br><br><br><br><br>
<footer class="text-center footer">
    <hr>
    <p><strong>Property of Edwin Rivera || edjr@eriveracpa.com</strong> &copy;</p>
        <p>If you encounter any errors please email me with a screen capture error message</p>
</footer>