


<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Ticketing System</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="customerReg">Customer Registration</a></li>
            <li><a href="ticketForm">New Ticket form</a></li>
            <li><a href="/">Index</a></li>
        </ul>
    </div>
</nav>