<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    

    <title>Call Tracker</title>
</head>

<body>

     <% include partials/navbar.ejs %>
     <br><br><br>
    <div class="wrapper">
       
    <div class="container text-center">

        <h3>Customer Registration</h3>

    <form method="POST" action="customerReg">

        <div class="form-row">
            
        <div class="form-group col-md-6">
            <label for="fname">  </label>
            <input class="form-control" type="text" name="fName" placeholder="First Name">
        </div>

        <div class="form-group col-md-6">
            <label for="lname"> </label>
            <input class="form-control" type="text" name="lName" placeholder="Last Name">
        </div>


        <div class="form-group col-md-6">
            <label for="company">  </label>
            <input type="text" name="company" class="form-control" placeholder="Company Name">
        </div>

        
        </div><!-- end of form-row -->



        <div class="form-group">
            <label for="address"> </label>
            <input type="text" name="address" class="form-control" placeholder="1234 Main St">  
        </div>
        

        <div class="form-group">
            <label for="addressTwo">  </label>
            <input type="text" name="addressTwo" class="form-control" placeholder="Suite 2">
        </div>
        
        


    <!-- new form row -->
        <div class="form-row">
            
        <div class="form-group col-md-6">
            <label for="telephone"> </label>
            <input type="text" name="telephone" class="form-control" placeholder="407-555-1234">
        </div>
        
        <div class="form-group col-md-6">
        <label for="email"> </label>
        <input type="text" name="email" class="form-control" placeholder="Email">
        </div>

        </div><!-- end of second form-row -->


        
        <div class="form-row">
        <div class="form-group col-md-6">
            <label for="city"></label>
            <input type="text" class="form-control" id="" name="city" placeholder="City">
        </div>
        
        <div class="form-group col-md-4">
            <label for="state"></label>
            <select id="" class="form-control" name="state">
                <option selected>Choose State...</option>
                <% for (let i = 0; i < states.length; i++) { %>
                <option><%= states[i]%></option>
                <% } %>
            </select>
        </div>
        
        <div class="form-group col-md-2">
            <label for="zip"></label>
            <input type="text" class="form-control" id="" name="zip" placeholder="Zip code">
        </div>

        
        <input type="Submit" value="Sumbit" class="btn btn-primary">
        <button type="button" class="btn btn-secondary" onClick="location.href='/api/ticketForm'" >Create New Ticket</button>


    </form>











    </div><!-- End of Container -->
<br><br><br><br><br><br>
    <footer class="text-center footer">
        <hr>
        End of Page
    </footer>



  
    
    


</body>

</html>