<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
   
    <title>
        Phone Message
    </title>
</head>

<body>
    <% include partials/navbar.ejs %>
    <br><br>
    <div class="container">

        <div class="messageShowArea">


            <div class="container row ">
                <!-- Begin Container -->
                <div class="col">
                    <form method="POST" action="messages">
                        <p>To who:</p>
                        <select name="toWho" class="toWhom">
                            <option value="n/a">...</option>
                            <option value="Edwin">Edwin</option>
                            <option value="Sandra">Sandra</option>
                            <option value="Janice">Janice</option>
                            <option value="Gypsi">Gypsi</option>
                            <option value="Junior">Junior</option>
                            <option value="Anyone">Anyone</option>
                        </select>
                        <br>
                        <br>


                        <div class="row">
                            <div class="col">
                                <p> Caller name:</p>
                                <input class="callerName" type="text" name="customerName"><br>
                            </div>

                            <div class="col">
                                <p>Company name:</p>
                                <input class="of" type="text" name="customerCompany"><br>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col">
                                <p>Call back number:</p>
                                <input class="phone" type="text" name="customerNumber"><br>
                            </div>
                            <div class="col">
                                <p>Or Email</p>
                                <input class="email" type="email" name="customerEmail"><br>
                            </div>
                        </div>

                        <br><br>
                        <textarea class="message " type="text" name="message" placeholder="Message"
                            style="width:100%;"></textarea><br>
                        <br>


                        <div class="row ">
                            <div class="col">
                                <select name="intent" class="intent">
                                    <option value="Telephone">Telephoned</option>
                                    <option value="Returned Call">Returned Your Call</option>
                                    <option value="Please Call">Please Call</option>
                                    <option value="Will Call Again">Will Call Again</option>
                                    <option value="Came to sse you">Came To See You</option>
                                    <option value="Wants to see you">Wants To See You</option>
                                </select>
                            </div>

                        
                        </div>

                        <br><br>


                        <br><br>
                        <input type="Submit" value="Submit" class="btn btn-primary submitBtn">
                        <input type="button" value="Clear Fields" onClick="location.href='/api/messages'">
                        <br><br><br>
                    </form>
                </div>

                <div class="col">
                    <!-- Display Area -->
                    <ul class="container displayArea text-left"></ul>
                    <div class="showMessage text-center">
                        <br><br><br><br><br><br><br><br><br>
                        <p>Future Mongo display area</p>
                        
                    </div>
                </div>


            </div> <!-- End Container -->


        </div><!-- message show area -->
        <br><br><br>





      

        <script src="http://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous"></script>
        

        <br><br><br><br><br><br>
        <footer class="text-center footer">&copy; eddev5563 A:Server || build 4.0.1</footer>
</body>

</html>